.messages {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.dialogs {
    padding: 10px;
}

.dialog a{
    color: rgb(255, 255, 255);
}

.active {
    color: darkorange;
}

.chat {
    padding: 10px;
}